.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.login-form {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    color: #333;
    border-radius: 12px;
    padding: 1.5rem;
    max-width: 400px;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.submit-button {
    padding: 0.5rem 1rem;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: darkpurple;
}

.title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
    .title {
      font-size: 2rem;
    }

    .input-field {
      font-size: 1rem;
    }
}